<?php

return [
    'environment' => [
        'S' => 'https=>//api-homologacao.getnet.com.br/',
        'P' => 'https=>//api.getnet.com.br/',
    ],
    'seller' => [
        'client_id' => '',
        'secret_id' => '',
        'seller_id' => '',
    ],
    'customer' => [
        'customerId'=> 'customer_21081826',
        'firstName' => 'João',
        'lastName' => 'da Silva',
        'documentType' => 'CPF',
        'documentNumber' => '12345678912',
        'birthDate' => '1976-02-21',
        'phoneNumber' => '5551999887766',
        'cellphoneNumber' => '5551999887766',
        'email' => 'customer@email.com.br',
        'observation' => 'O cliente tem interesse no plano x.',
    ],
    'card' => [
        'brand'=> 'Mastercard',
        'cardNumber' => 5155901222280001,
        'cardholderName'=> 'JOAO DA SILVA',
        'expirationMonth'=> '12',
        'expirationYear'=> '20',
        'cardholderIdentification'=> '12345678912',
        'securityCode'=> '123',
    ],
    'tokenCard' => [
        'numberToken'=> 'dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c',
    ],
    'vaultCard' => [
        'verifyCard'=> false,
    ],
    'address' => [
        'street' => 'Av. Brasil',
        'number' => '1000',
        'complement' => 'Sala 1',
        'district' => 'São Geraldo',
        'city' => 'Porto Alegre',
        'state' => 'RS',
        'country' => 'Brasil',
        'postalCode' => '90230060'
    ],
    'authorization' => [
        'access_token' => 'ca22a2ge-1914-4b0c-a0fb-d3ce0fde7346',
        'token_type' => 'Bearer',
        'expires_in' => 3600,
        'scope' => 'oob',
        'statusCode' => 200,
    ],
];